* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
}

ul,
li {
  list-style: none;
}

h1 {
}

h2 {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px dotted #666;
}

*:focus {
  outline: 3px solid red;
}
